* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 3;
  border-right: 1px solid rgb(133, 133, 133);
}
.main {
  flex: 9;
}
.logo {
  margin-right: 1rem;
}
.brand {
  font-size: 2rem;
}

.upperSide {
  padding: 2rem;
  border-bottom: 1px solid rgb(133, 133, 133);
  height: 70%;
}
.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.midBtn {
  background-color: #5a4bff;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.addbtn {
  height: 2rem;
  padding-right: 1rem;
}

.query{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    border:1px solid rgb(133, 133, 133);
    color: white;
    


}
.query>img{
    margin-right: 1.25rem;
    object-fit: cover;
    height: 1.75rem;
}

.lowerSide{
    padding: 2rem;
    
}
.listItems{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem auto;
}
.listItemsImg{
    margin: 1rem;
}